h1 { text-align: center }

.setting {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: .5em;
}

input {
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.cancel,
.create,
.login-redirect {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
}

.cancel {
    color: #a03a50;
}

.cancel:hover {
    color: #f33161;
}

.create {
    color: #52934c;
    box-shadow: inset 0 0 0 3px #52934c;
}

.create:hover {
    background-color: #e7ecd8;
}

.login-redirect {
    color: #444444;
    box-shadow: inset 0 0 0 3px #444444;
}

.login-redirect:hover {
    background-color: #FFF8F7;
}

.count-range {
    vertical-align: top;
    font-size: 14px;
}

.error { color: darkred; }

.help_text {
    font-size: 12px;
}

.help_text ul{
    list-style: none;
    margin: 0;
    padding: 0;
}