#life {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.game div {
    border-right: 1px solid #616161;
    border-bottom: 1px solid #616161;
    float: left;
    box-sizing: border-box;
}

.cell-living-player { background-color: #759073; }

.cell-died { background-color: white; }

.cell-living-opponent { background-color: #9d8277; }

.cell-living-both { background-color: #d09b0b; }

.game-setting {
    align-self: stretch;
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    font-weight: bold;
}

.num-round {
    font-size: 18px;
    text-transform: uppercase;
}

.new-round {
    color: #f9e9e9;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 3px #f9e9e9;
}

.new-round:hover {
    background-color: #9d8277;
    transition: 0.4s;
}