.join-game { background: url("../image/div-line.png") repeat-x center center; }

.games-header {
    display: inline-block;
    padding: 10px;
    background: #b8b4b3;
}

.create-game {
    min-height: 50px;
    padding: 10px;
}

.create-game-btn {
    align-self: center;

    color: #f9e9e9;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 3px #f9e9e9;
}

.create-game-btn:hover {
    background-color: #9d8277;
    transition: 0.4s;
}

.logout {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    color: #282828;
}

.logout:hover {
    color: #FFF8F7;
}

.list-games {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;
}

.list-games li {
    align-self: center;

    padding: 20px;
    margin: 10px;
    border: 1px solid #4c4a4b;
    background-color: #c9c7ba;
}

.list-games .join:hover {
    background-color: #e7ecd8;;
}

.list-games .join {
    background-color: #759073;
}

.join a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-btn {
    font-size: 20px;
    text-transform: uppercase;
}

.date-game {
    font-size: 14px;
}

.details {
    display: none;
    color: #727071;
    margin-top: 5px;
}
