{% extends "base.html" %}
{% load static %}

{% block title %}Вход{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{% static "css/form.css" %}">
 {% endblock %}

{% block content %}
     <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="setting">
                <label>{{ field.label }}</label>
                {{ field.as_widget }}
            </div>
        <span class="help_text">{{ field.help_text }}</span>
        <span class="error">{{ field.errors }}</span>
        {% endfor %}

        <div class="buttons">
            <input class="login-redirect" type="submit" value="Войти">
        </div>
    </form>
</form>
{% endblock %}