{% extends "base.html" %}
{% load static %}

{% block title %}Создать игру{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{% static "css/form.css" %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static "css/range.css" %}">
 {% endblock %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        <h1>Настройки игры по желанию</h1>
        <input type="hidden" name="player_creator" value="{{ user.id }}">
        {% for field in form %}
            <div class="setting">
                <label>{{ field.label }}</label>
                <div>
                    {{ field.as_widget }}
                    <span class="count-range">Значение: {{ field.value }}</span>
                </div>
            </div>
            <span class="error">{{ field.errors }}</span>
        {% endfor %}

        <div class="buttons">
            <a class="cancel" href="{% url "game:index" %}">Отмена</a>
            <input type="submit" class="create" value="Создать игру">
        </div>
    </form>
{% endblock %}

{% block additional_js %}
    <script src="{% static "js/form_func.js" %}"></script>
{% endblock %}