{% extends "base.html" %}
{% load static %}

{% block title %}Создать игру{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{% static "css/form_game.css" %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static "css/range.css" %}">
 {% endblock %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        <h1>Настройки игры по желанию</h1>
        <div class="setting">
            <label for="round">Кол-во раундов в игре</label>
            <div>
                <input type="range" id="round"><span class="count-range">Значение: 5</span>
            </div>
        </div>
        <div class="setting">
            <label for="cell">Кол-во клеток, доступных игроку</label>
            <div>
                <input type="range" id="cell"><span class="count-range">Значение: 7</span>
            </div>
        </div>
        <div class="setting">
            <label for="gen">Кол-во поколений в раунде</label>
            <div>
                <input type="range" id="gen"><span class="count-range">Значение: 2</span>
            </div>
        </div>
        <div class="buttons">
            <a class="cancel" href="">Отмена</a>
            <input type="submit" class="create" value="Создать игру">
        </div>
    </form>
{% endblock %}