{% extends "base.html" %}
{% load static %}

{% block title %}Игра Жизнь{% endblock %}
{% block additional_styles %}
{#    <script src="https://cdn.jsdelivr.net/npm/vue"></script>#}
    <script src="{% static "js/vue.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/game.css" %}">
{% endblock %}
{% block content %}
    <script>
        let gameId = {{ game_id_json }};
        let gameRound = {{ count_round }};
        let gameCells = {{ count_cell }};
        let gameGens = {{ count_generation }};
        let userId = {{ user.id }};
        let gameCreatorId = {{ game_creator }};
    </script>
    <div id="life">
        <h1 v-if="gameOver">Игра завершена!</h1>
        <div class="game-setting">
            <span class="num-round">Раунд: [[ currRound ]]</span>
            <span>[[ gameMessage ]]</span>
            <span class="score">Очки: [[ playerScore ]]</span>
        </div>

        <div v-bind:style="canvasSizeStyles" class="game">
            <template v-for="row in playerCells">
                <div v-for="cell in row"
                     v-bind:style="cellSizeStyles"
                     v-bind:class="getCellClass(cell)"
                     v-on:click="checkNewCells(cell)"
                >
                </div>
            </template>
        </div>
        <div>[[ counterReadyPlayers ]]</div>
        <button v-on:click="startPlay" class="new-round">Новый раунд</button>
    </div>

{% endblock %}

{% block additional_js %}
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
