{% extends "base.html" %}
{% load static %}

{% block title %}Игра Жизнь{% endblock %}
{% block additional_styles %}
    <link rel="stylesheet" href="{% static "css/menu.css" %}">
 {% endblock %}

{% block content %}
    <h1>Добро пожаловать в игру "Жизнь"</h1>

    <a class="create-game-btn" href="{% url "game:create_game" %}">Создать свою игру</a>

    {% if user.is_authenticated %}
        <a class="logout" href="{% url "account:logout" %}">Выйти</a>
    {% endif %}

    {{ user }}
    <h2 class="join-game"><span class="games-header">Присоединиться к игре</span></h2>
    <ul class="list-games">
    {% for game in all_games %}
        {% if game.is_played %}
            <li>Завершено (Счет: {{ game.score_player1 }}:{{ game.score_player2 }})</li>
        {% else %}
        <li class="join" onmouseenter="toggleDetails(event)" onmouseleave="toggleDetails(event)">
            <a href="{% url "game:game_full" pk=game.id %}">
                <span class="title-btn">Присоединиться</span>
                <span class="date-game">({{ game.date|date:"d:m:Y, H:i" }})</span>
                <span class="details">Раунды: {{ game.count_round }},
                    Кол-во клеток: {{ game.count_cell }}, Поколения: {{ game.count_generation }}</span>
            </a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock %}

{% block additional_js %}
    <script src="{% static "js/menu_func.js" %}"></script>
{% endblock %}